fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

sqlalchemy==2.0.30

faiss-cpu==1.8.0
sentence-transformers==2.7.0

pymupdf==1.24.5
python-pptx==1.0.2
numpy==1.26.4

scikit-learn==1.5.0
pydantic==2.7.1

openai==1.30.1